.HeroH1{
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    text-shadow: 5px 5px 10px #356489;
    font-weight: 500;
}
    @media only screen and (max-width:740px){
        .HeroH1{
            font-size: 30px;
            width: 350px;
        }
       
    }
  
    /* ${mobile({
      fontSize: "40px",
      width: "500px",
    })} */

.HeroName{
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
      0 0 3px rgba(255, 255, 255, 0.3);
}